# Python
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3

# Virtual env
venv/
.env/

# Environment variables
.env

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
staticfiles/
TRW/settings_local.py
backup_before_flush.json
